<div class="information-dialog">
	<p class="information-dialog__message">
		{{ data.message | translate }}
	</p>
	<div class="information-dialog__actions">
		<app-primary-button
			[emitOnClick]="true"
			[label]="(data.cancelButtonLabel || 'global.close') | translate"
			[secondary]="true"
			(ngClick)="onDialogClose()"
		/>
		@if (data.showNeverAgainButton && data.componentId) {
			<app-primary-button
				[emitOnClick]="true"
				[label]="'global.not-show-once-again' | translate"
				(ngClick)="onNeverShowDialogClick(data.componentId)"
			/>
		} @else {
			<app-primary-button
				[emitOnClick]="true"
				[label]="(data.confirmButtonLabel || 'global.confirm') | translate"
				(ngClick)="onConfirmDialogClick()"
			/>
		}
	</div>
</div>
