@use '../../../assets/scss/abstracts' as *;

:host {
	display: block;
}

.planner-form {
	$self: &;

	#{$self}__wrapper {
		margin: $section-margin;
	}

	#{$self}__form {
		@include flex-column-space-between;
		margin: $section-margin;

		&--container {
			@include flex-column;
			gap: $form-fields-gap;
		}
	}
}
