<section class="task-planner-chooser">
	<app-header-with-buttons
		label="task-planner-chooser.title"
		[buttons]="HEADER_BUTTONS"
	/>
	<app-planner-items-container>
		@for (planner of planners(); track planner.id) {
			<app-planner-card
				[emitSelection]="true"
				[plannerDetails]="planner"
				[isSelectedCard]="planner.id === selectedPlannerCard()?.id"
				(ngClickPlannerCard)="selectPlannerCard($event)"
			/>
		}
	</app-planner-items-container>
	@if (areNoPlanners) {
		<div class="task-planner-chooser__no-planners">
			<p>
				{{ 'global-messages.no-planners' | translate }}
			</p>
		</div>
	}
</section>
