<section class="task-board-form">
	<app-header label="task-board-form.title" />
	<div class="task-board-form__wrapper">
		@let formGroupValue = formModel.formGroup();

		@if (formGroupValue) {
			<form class="task-board-form__form" [formGroup]="formGroupValue">
				<div
					class="form-group"
					[ngClass]="{
						'doubled-first-flex-input': isOnlyHourConfig()
					}"
				>
					<app-form-input
						[controlName]="formModel.NAME"
						[formGroup]="formGroupValue"
						[label]="'task-board-form.task-name' | translate"
						[placeholder]="
							'task-board-form.task-name-placeholder' | translate
						"
					/>
					<app-week-date-picker-input
						[formControlName]="formModel.DATE"
						[controlName]="formModel.DATE"
						[formGroup]="formGroupValue"
						[label]="'task-board-form.task-date' | translate"
						[onlyHours]="true"
					/>
				</div>
				<app-form-textarea
					[formGroup]="formGroupValue"
					[controlName]="formModel.DESCRIPTION"
					[label]="'task-board-form.task-description' | translate"
					[placeholder]="
						'task-board-form.task-description-placeholder' | translate
					"
				/>
				<app-form-color-picker (selectedColor)="tileColor.set($event)" />
				<div class="form-actions">
					<app-primary-button
						[secondary]="true"
						[label]="'task-board-form.add-and-create' | translate"
						[emitOnClick]="true"
					/>
					<app-primary-button
						[label]="'task-board-form.add' | translate"
						[emitOnClick]="true"
					/>
				</div>
			</form>
		}
	</div>
</section>
