<div class="date-range-configurer">
	@switch (true) {
		@case (isWeekRange(properDateDisplayMode())) {
			<div class="week-range">
				<span
					[innerText]="
						getWeekRange?.startOfWeek
							| safeValue
							| momentDate : DAY_MONTH_FORMAT
					"
				></span>
				-
				<span
					[innerText]="
						getWeekRange?.endOfWeek
							| safeValue
							| momentDate : DAY_MONTH_YEAR_FORMAT
					"
				></span>
			</div>
		} 
		@case (isDayRange(properDateDisplayMode())) {
			<div class="day-range">
				<span
					[innerText]="
						getCurrentDay
							| safeValue
							| momentDate : DAY_MONTH_YEAR_FORMAT
					"
				></span>
			</div>
		}
	}
</div>
