<div class="side-menu">
	<div class="side-menu__container">
		<nav class="side-menu__nav-links">
			<a class="side-menu__item">
				<mat-icon fontIcon="wb_sunny"></mat-icon>
				<span translate="side-menu.today"></span>
			</a>
			<a class="side-menu__item" [class.active]="isActive(CALENDAR_URL)">
				<mat-icon fontIcon="calendar_month"></mat-icon>
				<span translate="side-menu.calendar"></span>
			</a>
			<a
				class="side-menu__item"
				[class.active-link]="isActive(PLANNERS_URL)"
				[routerLink]="PLANNERS_URL"
			>
				<mat-icon fontIcon="menu"></mat-icon>
				<span translate="side-menu.planners"></span>
			</a>
			<a class="side-menu__item" [class.active]="isActive(TASKS_URL)">
				<mat-icon fontIcon="checklist"></mat-icon>
				<span translate="side-menu.tasks"></span>
			</a>
			<a class="side-menu__item" [class.active]="isActive(SETTINGS_URL)">
				<mat-icon fontIcon="settings"></mat-icon>
				<span translate="side-menu.settings"></span>
			</a>
		</nav>
		@if (isAuthenticated()) {
			<div class="side-menu__actions">
				<app-primary-button
					[label]="'side-menu.new-duty' | translate"
					[emitOnClick]="true"
					(ngClick)="directToTaskPlannerChooser()"
				/>
				<app-primary-button
					[label]="'side-menu.add-planner' | translate"
					[emitOnClick]="true"
					(ngClick)="directToPlannerCreator()"
				/>
				<app-primary-button
					[label]="'side-menu.logout' | translate"
					[emitOnClick]="true"
					(ngClick)="logout()"
				/>
			</div>
		}
	</div>
</div>
