@use '../../../../assets/scss/abstracts' as *;

:host {
	display: block;
}

.side-menu {
	width: 100%;
	height: 100%;
	$self: &;
	@include sticky-top;

	#{$self}__container {
		width: inherit;
		height: 100%;
		@include flex-column-space-between;

		.active-link {
			background-color: var(--color-hover-text);
		}
	}

	#{$self}__nav-links {
		@include sticky-top;
		@include flex-column;
		padding: 2.5rem 1rem 0rem 3.5rem;
		gap: 1rem;
	}

	#{$self}__item {
		@include nav-link;
		@include flex-center;
		gap: 1rem;
	}

	#{$self}__actions {
		@include sticky-bottom;
		@include flex-column;
		gap: 1rem;
		padding: 2.5rem 1rem 2.5rem 3.5rem;
	}
}
