@use '../../../assets/scss/abstracts' as *;

:host {
  display: block;
}

.planners-dashboard {
	$self: &;

	#{$self}__no-planners {
		margin: 5rem 0;
		@include flex-justify-align-center;
		color: var(--color-text-secondary);
		font-size: $bigger-font-size;
	}

}