@let formGroupField = formGroup();

@if(formGroupField) {
	<div [formGroup]="formGroupField" class="form-field">
		<mat-form-field
			appearance="outline"
			class="mat-form-field"
			[style.width.%]="width()"
		>
			@if (label()) {
				<mat-label>{{ label() }}</mat-label>
			}
			<textarea
				matInput
				[formControlName]="controlName()"
				[placeholder]="placeholder() | safeValue"
				[rows]="rows()"
				[cols]="cols()"
			>
			</textarea>
		</mat-form-field>
		<app-form-error-message
			[formGroup]="formGroup()"
			[controlName]="controlName()"
			[customMessage]="customErrorMessages()"
		/>
	</div>
}
