<div class="planner-board">
	<div class="planner-board__header">
		<div class="planner-board__timeline">
		</div>
		<app-planner-board-days-headers [keysTileBoard]="keysTileBoard"/>
	</div>
	<div class="planner-board__content">
		<div class="planner-board__timeline-content">
			@for (time of timeline(); track $index) {
				<div
					#timelineValue
					[id]="time"
					class="planner-board__timeline-content--item" 
					[innerText]="time"
					[ngClass]="applyHiddenPartialHourClass(time)"
				>
				</div>
			}
		</div>
		<app-planner-board-tile-duties 
			[timelineValuesElements]="timelineValues()" 
			[dutiesBoard]="dutiesBoard"
		/>
	</div>
</div>
