@use '../abstracts/variables' as a;
@use '../abstracts/functions' as f;
@use '@angular/material';

@mixin respond($breakpoint) {
	//  0 - 600px: Phone
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}
	// 600 - 900px - Tablet
	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}
	// 900 - 1200px - Tablet landscape
	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75em) {
			@content;
		}
	}
	// 1800px+ - big desktop
	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 112.5em) {
			@content;
		}
	}
}

@mixin media-columns-grid($cols, $width, $minWidth) {
	@media (width <= $width) {
		grid-template-columns: repeat($cols, minmax($minWidth, 1fr));
	}
}

@mixin media-columns-grid-responsive($minWidth) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($minWidth, 1fr));
}

// grid mixins
@mixin apply-double-grid($gutter: 0, $col-width-1, $col-width-2) {
	display: grid;
	grid-template-columns: $col-width-1 $col-width-2;
}

// flex mixins
@mixin flex-center {
	display: flex;
	align-items: center;
}

@mixin flex-center-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

@mixin flex-justify-align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-space-between-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-space-between {
	display: flex;
	justify-content: space-between;
}

@mixin flex-column-space-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@mixin flex-group-field {
	@include flex-justify-align-center;

	& > * {
		flex: 1;
	}
}

// nav mixins
@mixin nav-link {
	padding: 0.5rem 1rem;
	font-weight: a.$slight-thickening;
	border-radius: a.$normal-border-radius;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.3s;

	&:hover {
		background-color: var(--color-hover-text);
	}
}

@mixin full-screen {
	height: 100%;
	width: 100%;
}

@mixin sticky-top {
	position: sticky;
	top: 0;
	z-index: 10;
}

@mixin sticky-bottom {
	position: sticky;
	bottom: 0;
	z-index: 10;
}

@mixin overlap-word {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin snackbar-styles($background, $border-color) {
	.mdc-snackbar {
		background-color: $background !important;
	}

	.mdc-snackbar__surface {
		background-color: $background !important;
		padding: 0 !important;
		border-radius: 16px !important;
		border: 1.5px solid $border-color;
	}

	.mat-mdc-snack-bar-label {
		background-color: $background !important;
		font-size: a.$smaller-font-size !important;
		color: var(--color-text) !important;
		font-family: 'Montserrat', sans-serif !important;
		padding: 0.9rem 1rem;
		border-radius: 16px !important;
	}

	.mat-mdc-button .mat-mdc-button-persistent-ripple {
		width: 3rem !important;
		height: 3rem !important;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.mdc-snackbar__label {
		@include flex-justify-align-center;
	}

	.mdc-button__label {
		position: relative;
		color: transparent;
		visibility: none;
		height: 0;
		font-family: 'Montserrat', sans-serif !important;
		width: 0;
		padding: 1rem 1rem;
		border-radius: 9px;
		position: relative;

		&::after {
			content: '\2715';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: a.$smaller-font-size !important;
			color: var(--color-text);
			cursor: pointer;
		}
	}
}
