// font sizes
$default-font-size: 1.6rem;
$smaller-font-size: 1.4rem;
$header-font-size: 2.4rem;

// font weights
$slight-thickening: 550;

// border radius values
$normal-border-radius: 9px;
$tiny-border: 0.5px solid var(--color-border);
$normal-border: 1px solid var(--color-border);

// static colors
$light-text-color: #EEE6DF;

// global settings
$section-margin: 3.5rem 1.5rem 3rem 1.8rem;
$color-picker-section-margin: 3rem;

// button-colors:
$bg-button: #1973d2;
$bg-hover-button: darken($bg-button, 10%);;
$bg-secondary-button: #E0A832; // Suggested secondary button color
$bg-hover-secondary-button: darken($bg-secondary-button, 10%);

$animation-duration: 0.3s;

// box shadows
$tiny-shadow: var(--bg-color) 0px 4px 2px;
$normal-shadow: var(--color-border) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$highlight-effect: 
	0 0 0 0.2rem var(--bg-color),   
	0 0 0 0.4rem $bg-button,
	0 0 0 0.5rem var(--bg-color);

:root {
	--bg-color: #EEE6DF;
	--color-text: #000A20;
	--color-text-secondary: #666F80;
	--color-border: #cfb5a2;
	--color-background-secondary: #e4d9cd;
	--color-hover-text: #DACBB8;
	--bg-snackbar-color-success: #C8E6C9;
	--border-snack-bar-color-success: #81C784;
	--bg-snackbar-color-error: #FFCDD2;
	--border-snack-bar-color-error: #C62828;
}

.dark-mode {
	--bg-color: #111920;
	--color-text: #EEE6DF;
	--color-text-secondary: #BBB6AF;
	--color-border: #304a5d;
	--color-background-secondary: #1b2632;
	--color-hover-text: #2d4658;
	--bg-snackbar-color-success: #2E7D32;
	--border-snack-bar-color-success: #66BB6A;
	--bg-snackbar-color-error: #D32F2F;
	--border-snack-bar-color-error: #E57373;
}