<div class="week-date-picker-input">
	<mat-form-field
		appearance="outline"
		floatLabel="always"
		class="form-field week-date-picker-input__form-field"
		[style.width.%]="width()"
	>	
		@if (label()) {
			<mat-label>{{ label() }}</mat-label>
		}
		@if (!onlyHours()) {
			<mat-icon
			class="week-date-picker-input__form-field--icon"
			matIconSuffix
			(click)="toggleCalendarWeek()"
		>
			calendar_month
			</mat-icon>
		}
		<div class="date-range-container">
			@if (!onlyHours()) {
				<input
					#dateInput
					[formControl]="datePickerControl"
					[readonly]="isWeeklyCalendarOpened()"
					(input)="handleDateChange($event, controlDateName.Date)"
					(blur)="touchControl()"
					matInput
					mask="00-00-0000"
					[showMaskTyped]="true"
				/>
			}
			<div class="date-range-container--times-range">
				<input
					#fromInput
					[formControl]="fromTimeControl"
					[readonly]="isWeeklyCalendarOpened()"	
					(input)="handleDateChange($event, controlDateName.From)"
					(blur)="touchControl()"
					matInput
					[mask]="TIME_MASK_FORMAT"
					[showMaskTyped]="true"
				/>
				<span>-</span>
				<input
					#toInput
					[formControl]="toTimeControl"
					[readonly]="isWeeklyCalendarOpened()"
					(input)="handleDateChange($event, controlDateName.To)"
					(blur)="touchControl()"
					matInput
					[mask]="TIME_MASK_FORMAT"
					[showMaskTyped]="true"
				/>
			</div>
		</div>
	</mat-form-field>
	<app-form-error-message
		[formGroup]="formGroup()"
		[controlName]="controlName()"
		[customMessage]="customErrorMessages()"
	/>
	@if (isWeeklyCalendarOpened()) {
		<div 
			class="week-date-picker-input__calendar" 
			[style.width.%]="width()"
		>
			<app-calendar-weeks-ranger
				[inputDate]="date()"
				[fromTime]="from()"
				[toTime]="to()"
				(onCloseCalendar)="onCloseCalendarWeek($event)"
			/>
		</div>
	}
</div>
