@use '../abstracts/variables' as a;
@use '../abstracts/functions' as f;

@mixin respond($breakpoint) {
	//  0 - 600px: Phone
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}
	// 600 - 900px - Tablet
	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}
	// 900 - 1200px - Tablet landscape
	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75em) {
			@content;
		}
	}
	// 1800px+ - big desktop
	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 112.5em) {
			@content;
		}
	}
}

// grid mixins
@mixin apply-double-grid($gutter: 0, $col-width-1, $col-width-2) {
	display: grid;
	grid-template-columns: $col-width-1 $col-width-2;
}

// flex mixins
@mixin flex-center {
	display: flex;
	align-items: center;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-column-space-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

// nav mixins
@mixin nav-link {
	padding: 0.5rem 1rem;
	font-weight: a.$slight-thickening;
	border-radius: a.$normal-border-radius;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.3s;

	&:hover {
		background-color: var(--color-hover-text);
	}
}
