// font sizes
$default-font-size: 1.6rem;
$header-font-size: 2.4rem;

// font weights
$slight-thickening: 550;

// border radius values
$normal-border-radius: 9px;

:root {
	--bg-color: #EEE6DF;
	--color-text: #000A20;
	--color-text-secondary: #666F80;
	--color-hover-text: #DACBB8;
}

.dark-mode {
	--bg-color: #111920;
	--color-text: #EEE6DF;
	--color-text-secondary: #BBB6AF;
	--color-hover-text: #253447
}