@use '../abstracts' as *;

.calendar-weeks-ranger {
	@include flex-column;
	background-color: var(--color-background-secondary);
	border-radius: $normal-border-radius;
	position: relative;
	padding: 2rem 0;

	$self: &;

	#{$self}__header {
		@include flex-column-center;
		gap: 1rem;
		padding: 1rem 1rem;
		font-size: $default-font-size;
		font-weight: $slight-thickening;
		border-bottom: 1px solid var(--color-border);

		&--close {
			position: absolute;
			right: 0;
			top: 0;
			margin: 0.5rem;
			font-size: $default-font-size;
			font-weight: $slight-thickening;
			cursor: pointer;
		}

		&--action-label {
			@include flex-center;
			gap: 0.5rem;

			& > mat-icon {
				cursor: pointer;
			}

			& > span::first-letter {
				text-transform: capitalize;
			}
		}
	}

	#{$self}__days {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 3rem;
		width: 100%;
		font-size: $smaller-font-size;
		color: var(--color-text-secondary);
		padding: 0 0.5rem;
	}

	#{$self}__days-month {
		@include flex-column;
	}

	#{$self}__days-month-chunk {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 2rem;
		padding: 1rem 1rem;
		width: 100%;

		&--item {
			text-align: start;
		}


		span {
			cursor: pointer;
			padding: 0.8rem;
			border: none;
			transition: border 0.5s;
		}

		.active-calendar-day {
			border: $normal-border;
			border-radius: $normal-border-radius;
		}
	}

	#{$self}__time-picker {
		font-size: $default-font-size;
		@include flex-justify-align-center;
		gap: 0.8rem;
	}
}
