@use '../abstracts' as *;

.db-header {
	margin: 2.5rem 0 0 3.5rem;

	$self: &;

	#{$self}__arrow-back {
		cursor: pointer;
	}

	#{$self}__main-title {
		display: inline-block;
		font-size: $header-font-size;
		font-weight: $slight-thickening;
	}
}