@use '../abstracts' as *;

.planner-board {
	margin: $section-margin;

	$self: &;

	#{$self}__content {
		@include flex-space-between;
		position: relative;
		z-index: 1;
		overflow: hidden;

		border: $normal-border;
		border-top: none;
		margin-bottom: 3rem;
		border-radius: 0 0 $normal-border-radius $normal-border-radius;
	}

	#{$self}__days-headers {
		display: grid;
		grid-template-columns: repeat(7, minmax(22rem, 1fr));

		@include media-columns-grid(7, 134.375em, 18rem);
		@include media-columns-grid(7, 124.375em, 16rem);
		@include media-columns-grid(7, 112.8125em, 14rem);
		@include media-columns-grid(7, 86.56em, 12rem);
		@include media-columns-grid(7, 70em, 10rem);
		@include media-columns-grid(7, 61.875em, 6rem);
	}

	#{$self}__timeline-content {
		padding: 0.5rem 0;
		margin-bottom: 1rem;
		font-weight: $slight-thickening;
		width: 100%;

		&--item {
			font-size: $smaller-font-size;
			width: 100%;

			span {
				display: inline-block;
				position: relative;
				width: 100%;
				background-color: var(--bg-color);
				z-index: 11;
				padding-inline: 0.5rem;
			}
		}

		&--item:not(.hidden-partial-hour)::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 0;
			left: 0;
			transform: translateY(0.1rem);
			z-index: 8;
			border-top: 1.5px solid var(--color-border);
		}

		.hidden-partial-hour {
			overflow: hidden;
			opacity: 0;
			visibility: hidden;
			height: 0.1rem;
		}
	}

	.day-container {
		text-align: center;
		display: inline-block;
		padding: 1rem 0;
	}

	.day-container:not(:last-child) {
		border-right: $tiny-border;
	}

	.day-container:first-child {
		border-left: $tiny-border;
	}
}