@use '../abstracts' as *;

.planner-board-days-headers {
	display: grid;
	grid-template-columns: repeat(7, minmax(22.5rem, 1fr));

	@include media-columns-grid(7, 139.375em, 20rem);
	@include media-columns-grid(7, 134.375em, 18rem);
	@include media-columns-grid(7, 124.375em, 17rem);
	@include media-columns-grid(7, 112.8125em, 17.2rem);
	@include media-columns-grid(7,96.25em, 15rem);
	@include media-columns-grid(7,83.0625em, 13rem);
	@include media-columns-grid(7, 70em, 12rem);
	@include media-columns-grid(7,63.5625em, 11rem);
	@include media-columns-grid(7, 61.875em, 10rem);

	$self: &;

	#{$self}__day-container {
		font-weight: $slight-thickening;
		text-align: center;
		display: inline-block;
		padding: 1rem 0;
	}
}
