@use '../abstracts' as *;

.planner-board-tile-duty {
	display: grid;
	grid-template-columns: repeat(7, minmax(20rem, 1fr));

	@include full-screen;
	@include media-columns-grid(7,134.375em, 18rem);
	@include media-columns-grid(7,124.375em, 16rem);
	@include media-columns-grid(7,112.8125em, 15rem);
	@include media-columns-grid(7,86.56em, 12rem);
	@include media-columns-grid(7,70em, 11rem);
	@include media-columns-grid(7,61.875em, 10rem);

	$self: &;

	#{$self}__wrapper {
		text-align: center;
		position: relative;
		width: 100%;
	}

	#{$self}__wrapper:not(:last-child) {
		border-right: $tiny-border;
	}
	
	#{$self}__wrapper:first-child {
		border-left: $tiny-border;
	}

	#{$self}__item {
		position: absolute;
		width: 100%;
		border-radius: $normal-border-radius;
		box-shadow: $convex-shadow;
		z-index: 10;
		opacity: 1;
		transition: opacity 0.5s;
		user-select: none;
	
		&::before {
			position: absolute;
			content: "";
			top: 0;
			left: 50%;
			width: 94%;
			height: 0.1rem;
			background-color: var(--bg-color);
			transform: translate(-50%, -50%);
			z-index: 7;
		}

		&:hover {
			cursor: pointer;
		}

		&:active {
			opacity: 0.6;
		}
	}

	#{$self}__name-wrapper {
		position: relative;
		height: 100%;

		span {
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			color: $light-text-color;
			font-weight: $fat-thickening;
			text-shadow: $text-shadow;

			@include overlap-word;
			max-width: 90%;
		}
	}
}


