@use '../abstracts' as *;

.primary-button {
	$self: &;

	#{$self}__content {
		width: 100%;
		text-align: center;
		font-weight: $slight-thickening;
		padding: 0.7rem 1rem;
		border: none;
		border-radius: $doubled-normal-border-radius;
		color: #eee6df;
		background-color: $bg-button;
		font-family: 'Montserrat', sans-serif;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
		font-size: 1.4rem;
		cursor: pointer;
		transition: background-color $animation-duration;

		&:hover,
		&:active {
			background-color: $bg-hover-button;
		}

		&:disabled {
			background-color: $bg-disabled-button;
			@include disable-btn;
		}
	}
}

.secondary-button {
	background-color: $bg-secondary-button !important;

	&:hover,
	&:active {
		background-color: $bg-hover-secondary-button !important;
	}
}