@use '../abstracts' as *;

.timeline-board-slider {
	position: relative;
	height: 100%; 
	overflow: visible;
	$self: &;
	background-color: var(--bg-color);

	#{$self}__indicator {
		font-size: $smaller-font-size;
		padding: 0.5rem 0.8rem;
		position: absolute;
		left: 0;
		transform: translateX(-6.5rem);
		background-color: var(--color-chip-background);
		transition: top 0.5s ease-in-out;
		border-radius: $normal-border-radius;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: -3rem;
			transform: translate(-50%, -50%);
			width: 2.2rem;
			height: 2px;
			background-color: var(--color-chip-background);
			z-index: 1;
			transition: top 0.5s ease-in-out;
			border-radius: 16px;
		}
	}
}
