<div class="planner-board">
	<app-planner-board-days-headers
		[keysTileBoard]="keysTileBoard()"
		[isDynamic]="isDynamic()"
		(changedWeekPeriod)="changedWeekPeriod.emit($event)"
	/>
	<div class="planner-board__content">
		<div class="planner-board__timeline-slider">
			<app-timeline-board-slider
				[timelineSliderDetails]="timelineSliderDetails()"
			/>
		</div>
		<div class="planner-board__timeline-content">
			@for (time of timeline(); track $index) {
				<div
					#timelineValue
					[id]="time"
					class="planner-board__timeline-content--item"
					[ngClass]="time | hiddenPartialHourClass : HIDDEN_PARTIAL_HOUR"
				>
					<span>{{ time }}</span>
				</div>
			}
		</div>
		<app-planner-board-tile-duties
			[slidePlannerDirection]="slidePlannerDirection()"
			[timelineValuesElements]="timelineValues()"
			[dutiesBoard]="duties()"
			(onPlannerAnimationEnd)="onPlannerAnimationEnd.emit()"
		/>
	</div>
</div>
