<div 
	class="planner-board-tile-duty" 
	[class.animate-slide-in-right]="isSlidePlannerDirectionRight"
	[class.animate-slide-in-left]="isSlidePlannerDirectionLeft"
	(animationend)="onPlannerAnimationEnd.emit()"
>
	@for (tiles of dutyTiles(); track $index) {
		<div class="planner-board-tile-duty__wrapper">
			@for (tile of tiles; track $index) {
				<div 
					class="planner-board-tile-duty__item"
					[style.height]="tile.height"
					[style.top]="tile.top"
					[style.background]="tile?.tile?.color"
				>
					<div class="planner-board-tile-duty__name-wrapper">
						<span>{{ tile.tile.name | safeValue }}</span>
					</div>
					<div class="planner-board-tile-duty__actions">
						<button
							type="button"
							class="planner-board-tile-duty__action"
							[attr.aria-label]="'edit'"
							(click)="onEditDuty($event, tile.tile)"
						>
							<mat-icon>edit</mat-icon>
						</button>
						<button
							type="button"
							class="planner-board-tile-duty__action"
							[attr.aria-label]="'delete'"
							(click)="onDeleteDuty($event, tile.tile)"
						>
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</div>
			}
		</div>
	}
</div>
